zsh/.zsh_history
zsh/.zsh_zcompdump
zsh/.zcompdump
dunst/*
autostart/*
tmux/plugins/*
balenaEtcher/*
nvim/plugged/*
qutebrowser/bookmarks/*
qutebrowser/quickmarks
qutebrowser/greasemonkey
google-chrome/*
Cursor
go
evince
spotify
pulse
zoom*
monitors*
github*
Code
Notion
inkscape
Ultralytics
Thunar
BraveSoftware
QtProject.conf
texstudio
totem
vlc
xfce4
neofetch
dconf
libreoffice
blender
evolution
zoom*
gtk-3.0
vifm/vifminfo.json
.gsd-keyboard.settings-ported
