zsh/.zsh_history
zsh/.zsh_zcompdump
zsh/.zcompdump
nvim/plugged/*
spotify
pulse
zoom*
monitors*
github*
Code
Notion
inkscape
Ultralytics
Thunar
BraveSoftware
QtProject.conf
texstudio
totem
vlc
xfce4
neofetch
dconf
libreoffice
blender
evolution
gtk-3.0
vifm/vifminfo.json
.gsd-keyboard.settings-ported
